.Latest_News_holder {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo_holder {
  width: 100%;
  height: 75px;
  display: flex;
  padding: 1rem;
  flex-direction: row;
  gap: 1rem;
}

.logo_holder_img {
  width: 44px;
  height: 44px;
  background-color: #00AB7B;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  align-items: center;

  p {
    font-size: 26px;
    font-weight: 500;
    color: black;
  }
}

.title_underline {
  height: 4px;
  width: 8%;
  background-color: #32EB96;
}

.tsl_txt {
  font-size: 22px;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tsl_news_holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.tsl_news_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  cursor: pointer;
  position: relative; /* Ensures that the description's position doesn't affect the layout */
}

.news {
  font-weight: bold;
  font-size: 18px;
  color: #044123;
}

.description {
  font-size: 16px;
  color: #333;
  padding-left: 1rem;
  line-height: 1.5;
  display: none; /* Hide description by default */
}

.tsl_news_item.selected .description {
  display: block; /* Show description when item is selected */
}

.selected {
  background-color: rgba(11, 170, 122, 0.1); /* Background color for selected item */
}

.sparation_line {
  width: 100%;
  height: 1px;
  background-color: rgb(231, 231, 231);
}