@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.CommPage {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  scrollbar-width: none !important;
  overflow: hidden !important;

  /* Pour les écrans plus larges que 1920px, centrer le contenu */
  @media (min-width: 1920px) {
    max-width: 1920px;
    margin: 0 auto; /* Centre le contenu */
  }

  /* Pour les écrans entre 1200px et 1920px */
  @media (max-width: 1920px) and (min-width: 1200px) {
    padding: 0 20px;
  }

  /* Pour les écrans entre 768px et 1200px */
  @media (max-width: 1200px) and (min-width: 768px) {
    padding: 0 15px;
  }

  /* Pour les écrans de moins de 768px (mobile) */
  @media (max-width: 768px) {
    padding: 0 10px;
    flex-direction: column; /* Les éléments passent en colonne */
  }
}

/* SavoirPlus.module.scss */

.savoirPlusContainer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.savoirPlusEnterActive {
  max-height: 500px; /* Ajustez selon la taille du contenu */
}

.savoirPlusExitActive {
  max-height: 0;
}
